body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    background: #262626;
}

.spinner {
    width: 100%;
    height: 200px;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
}

.box {
    width: auto;
    text-align: center;
    line-height: 100px;
    flex-grow: 1;
    transition: .5s;
    font-size: 1.2em;
    color: #FFFF;
    background: rgb(85, 144, 199);
}

.box:hover {
    flex-grow: 4;
    max-width: 100%;
    font-size: 2em;
}

.spinner .box:nth-child(1) {
    background: #F1C40C;
}

.spinner .box:nth-child(2) {
    background: #0077b6;
}

.spinner .box:nth-child(3) {
    background: #7209b7;
}

.spinner .box:nth-child(4){
    background: #fb8500;
}

.spinner .box:nth-child(5) {
    background: #d00000;
}

.spinner .box:nth-child(6) {
    background: #f28482;
}

.spinner .box:nth-child(7) {
    background: #8f00ff;
}

.spinner .box:nth-child(8) {
    background: #0091ad;
}
